$primary-color: #24436f;
$secondary-color: #bfc9d7;
$link-color: #294c7a;
$text-color: #3b3b3b;
$gray-color: #f2f2f2;
$card-title-color: #3b3b3b;
$subcontent-text-color: #a2a2a2;
$article-title-color: #3b3b3b;
$cta-bg-color: #3081c9;
$black-color: #000000;
$footer-text-color: #797979;
