.category {
  background: #fff;
  height: 3.6rem;
  padding: 1.2rem 0;
  &__list {
    margin: 0 auto;
    text-align: center;
  }

  &__item {
    display: inline-block;
    margin-right: 2rem;
    color: $link-color;
    font-size: 1.3rem;
    transition: all 0.2s ease-out;
    &--active {
      font-weight: bold;
    }
    &:hover {
      font-weight: 700;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
