@import 'article__card';

/* main section */
.content {
  padding: 4rem 0 7rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* content section */
.main {
  max-width: $MainMaxWidth;
}

.main-content {
  display: inline-block;

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
    color: $card-title-color;
  }

  &__more-btn {
    width: 110px;
    height: 38px;
    background: $cta-bg-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.785;
    color: #fff;
    margin: 3rem auto 0;
    border: none;
    cursor: pointer;
  }
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
