// color palette
$primaryColor: #24436f;
$secondaryColor: #bfc9d7;
$lightPrimaryColor: #345584;

$textPrimaryColor: #3b3b3b;
$textSecondaryColor: #a2a2a2;
$textDarkerColor: #797979;
$placeholderColor: #bbbbbb;

$ctaColor: #3081c9;
$linkColor: #294c7a;
$grayBgColor: #f2f2f2;
$grayDarkerBgColor: #f1f1f1;

$white: #ffffff;
$black: #000000;

// assets
$IMGPATH: '/public/assets/images/';

// sizes
$mainMaxWidth: 778px;
$sidebarMaxWidth: 312px;
$headerHeight: 75px;
$footerHeight: 356px;
